.home{
   
    text-align: center;
    background-color:rgb(241, 246, 248);
    height: 300px;
}

.pic2 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.pic1{
float: right;
vertical-align: middle;
height: 300px;
width: 300px;
right:30px;
padding: 20px;
padding-bottom: 20px;
border-radius: 15%;
}
body{
    background-color:rgb(236, 236, 231);
}

.column {
    float: left;
    width: 50%;
}
#naomi{
    font-family: Arial;
    font-weight:400%;
}
#column{
    text-align: center;
    width: 60%;
    height: 50%;
}
.culumn {
    margin-top: -10px;
    float: right;
    width: 40%;
}

.bio-paragraph {
    font-size: 20px;
    margin-left: 60px;
    margin-top: 50px;
    font-weight: 100;
}